Repository disorderedmaterials/dissolve, pull requests merged in 2024-04, with the labels that each got.

#1829 Fix: Correctly Set Working Directory in GUI
  src/gui/gui.h
  src/gui/menu_file.cpp
Labels: Type: Bug, Scope: GUI

#1825 build: Add git-cliff support for changelog generation
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/qc/action.yml
  ChangeLog.md
  changeversion
  cliff.toml
  flake.lock
  web/docs/userguide/developers/contributing.md
  web/docs/userguide/developers/releases.md
Labels: 8

#1842 Docs: add search bar
  web/docs.toml
Labels: Type: Enhancement, Scope: Documentation, 2

#1848 fix: 1844 - QML ScaleLayout scale charges dialog to accept floats
  src/gui/qml/modifyCharges/ScaleLayout.qml
Labels: Type: Bug, Scope: GUI, 4

#1817 feat: OSites Bond Lengths
  src/gui/gui.ui
  src/gui/icons/modules/modifierOSites.svg
  src/gui/main.qrc
  src/modules/modifierOSites/gui/modifierOSitesWidget.h
  src/modules/modifierOSites/gui/modifierOSitesWidget.ui
  src/modules/modifierOSites/gui/modifierOSitesWidgetFuncs.cpp
  src/modules/modifierOSites/modifierOSites.cpp
  src/modules/modifierOSites/modifierOSites.h
  src/modules/modifierOSites/process.cpp
  tests/data/dissolve/input/BOBondLengthTest.dat
  tests/data/dissolve/input/FOBondLengthTest.dat
  tests/data/dissolve/input/NBOBondLengthTest.dat
  tests/data/dissolve/input/modifierOSites-BObond-lengths-test.dat
  tests/data/dissolve/input/modifierOSites-FObond-lengths-test.dat
  tests/data/dissolve/input/modifierOSites-NBObond-lengths-test.dat
  tests/data/dissolve/input/modifierOSites-test2.txt
  tests/data/dissolve/input/modifierOSites-test2.xyz
  tests/modules/modifierOSites.cpp
Labels: Type: Enhancement, Scope: Modules

#1857 chore: Quote PR title in test
  .github/workflows/qc/action.yml
Labels: 1, Priority: High

#1819 feat: Running CNs added to SiteRDF
  src/items/deserialisers.cpp
  src/items/producers.cpp
  src/items/serialisers.cpp
  src/math/sampledData1D.cpp
  src/modules/siteRDF/gui/siteRDFWidget.h
  src/modules/siteRDF/gui/siteRDFWidget.ui
  src/modules/siteRDF/gui/siteRDFWidgetFuncs.cpp
  src/modules/siteRDF/process.cpp
Labels: Type: Enhancement, Scope: Modules
